@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oleo+Script+Swash+Caps:wght@700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    backgroundColor: #031425;
}

/* Cursor  */

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #03141F;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(189, 189, 189);  */
  background-color: #374045;
}